<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/" >
        <p>
   <label>Nombre y Apellido:</label>
  <input type="text" name="nombre">
        </p>

        <p>
            <label>Nombre de Usuario:</label>
           <input type="text" name="usuario">
     </p>

     <p>
        <label>Nombre de Usuario:</label>
       <input type="text" name="usuario">
 </p>

     <p>
        <label>Fecha de Nacimiento:</label>
       <input type="date" name="fecha">
 </p>

 <p>
    <label>Domicilio:</label>
   <input type="text" name="domicilio">
</p>

<p>
<label for="tipoUsuario">Comprar o Vemder?</label>
           <input type="radio" name="tipoUsuario" value="Comprar">Comprar</input>
     <input type="radio" name="tipoUsuario" value="Vender" cheked>Vender</input>
    </p>

    <p>
<label for="intereses">Categorias de Interés: </label>
<input type="checkbox" name="intereses" value="Electro">Electro</input>
<input type="checkbox" name="intereses" value="Moda">Moda</input>
<input type="checkbox" name="intereses" value="Hogar">Hogar</input>
<input type="checkbox" name="intereses" value="Juguetería">Jugueteria</input>
<input type="checkbox" name="intereses" value="Vida sana">Vida Sana</input>
</p>

<p>
    <label>Cargar Foto:</label>
    <input type="file" name="foto">
    </p>


<p>
<label>Password:</label>
<input type="password" name="password">

</p>

<p>
<label>Confirmar Password:</label>
<input type="password" name="confirmarPassword">
</p>

<p>
    <button type="submit">ENVIAR</button>
    </p>

    <p>
        <button type="reset">RESETEAR</button>
        </p>

</body>
</html>