<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado LIEBRE</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <header> 

        <div class="cabezaHeader">
        <img id="logo" src="/images/logo-mercado-liebre.svg" alt="" width="150" height="150">
        
        <div id="busqueda">ESPACIO PARA BARRA DE BUSQUEDA<i class="fas fa-search"></i></div>
        <p class="subtitulo"><i  class="fas fa-hand-holding-usd"></i>Compra en Cuotas y sin tarjetas de Credito</p>
        </div>
<!--------------------------------------------------------------------------NAV -------------------------->        
        <nav class="contenedorNav">
           

            <ul style="list-style-type: none" class="contenedorMenu">
                <li><a href="/views/home.html"></a>Ofertas</li>
                <li><a href="/views/home.html"></a>Tiendas oficiales</li>
                <li><a href="/views/home.html"></a>Vender</li>
                <li><a href="/views/ayuda.html"></a>Ayuda</li>
            </ul>
            
            <ul style="list-style-type: none" class="contenedorLogin">
                <a href="/register">Creá tu cuenta<i  class="fas fa-keyboard"></i></a>
                <li>Ingresá <i  class="fas fa-sign-in-alt"></i></li>
                <li>Mis compras<i  class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>

        <div class=burger-menu><i class="fas fa-bars"></i></div>

    </header>
    
    <main>
        <section>
            <img id="banner" src="/images/img-home-banner.jpg" alt="banner" >



         </section>   
</main>

<!------------------------------------------------------------------------FOOTER----------------->
    <footer>
        <section>

            <i class="fas fa-credit-card"></i> 
            <h2>Pagá con tarjeta o en evectivo</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        
            <i class="fas fa-gift"></i>
            <h2>Envío gratis desde $ 2.500</h2>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            
            <i class="fas fa-user-shield"></i>
            <h2>Seguridad, de principio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            
<br>
<br>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

        </section>
        

    </footer>
</body>
</html>